[Unit]
Description=Tdarr-node

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
Annotation=run.oci.keep_original_groups=1
ContainerName=tdarr-node
Environment=nodeID=storage.feisar.ovh
Environment=serverIP=192.168.169.117
Environment=serverPort=8266
Image=ghcr.io/haveagitgat/tdarr_node:2.45.01@sha256:7e98e8b97350101bda7af1673e473edd65915f10a0c5ae040487dec220a870c8
# Volume=/mnt/vol1/video/tv:/mnt/storage/video/tv:rslave
# Volume=/mnt/vol1/video/movies:/mnt/storage/video/movies:rslave
# Volume=/mnt/vol1/video/.tdarr:/mnt/cache:rslave

[Install]
WantedBy=multi-user.target